.your-anime-display {
  padding: 10px;
}

.your-anime-display-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}

.your-anime-display-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .your-anime-display-items {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
