.result-card-text {
  background-color: rgba(0, 0, 0, 0.544);
  padding: 15px;
  border-radius: 10px;
  color: aliceblue;
  max-height: 75%;
  overflow: auto;
  margin-bottom: 20px;
}

.result-card {
  display: flex;
  justify-content: space-between;
  min-height: 200px;
}
/* .result-card button {
  justify-self: flex-end;
} */

#buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#buttons-div Button {
  margin: 10px;
}
